@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');



:root {
    --primary-color: #2f3136;
    --secondary-color: #36393f;
    --accent-color: #9287ff;
    --manrope: 'Manrope', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--manrope);
    background: var(--primary-color);
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

h1 {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1rem 0rem;
}

.text-center {
    text-align: center;
}

.navbar {
    background: var(--secondary-color);
    padding: 0.75rem 2.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
}



.line {
    width: 1.35rem;
    height: .15rem;
    margin: .3rem 0;
    background-color: white;
}

.hero {
    padding: 0.75rem 2.25rem;
}

.img-avatar {
    display: block;
    margin: 1rem auto;
    width: 70%;
    height: auto;
}


.hero p {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
    margin: 2rem 0;
}

.my-name {
    font-weight: 600;
}

.emoji {
    font-size: 1.4rem;
}

.card {
    margin: 2rem 2.25rem;
    padding: 1.5rem 1rem;
    border: 0.156rem solid var(--accent-color);
    border-radius: 0.625rem;
    background: var(--secondary-color);
}

.card h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.card p {
    font-size: .875rem;
}


.btn {
    display: inline-block;
    margin: 1rem .5rem 0rem 0rem;
    padding: .5rem .8rem;
    border-radius: 0.313rem;
    font-size: .875rem;
    font-weight: 600;
}

.btn-primary {
    border: none;
    background: var(--accent-color);
}

.btn-secondary {
    border: 0.088rem solid var(--accent-color);
}

footer {
    background-color: var(--secondary-color);
    padding: 1.5rem 2.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


footer i {
    font-size: 1.8rem;
}