@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@300;400;500;600;700&display=swap');



:root {
    --primary-color: #2f3136;
    --secondary-color: #36393f;
    --accent-color: #9287ff;
    --manrope: 'Manrope', sans-serif;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: var(--manrope);
    background: var(--primary-color);
    color: white;
    position: relative;
    min-height: 100vh;
    padding-bottom: 8rem;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style-type: none;
}

h1 {
    font-size: 1.4rem;
    font-weight: 500;
    margin: 1rem 0rem;
}

.text-center {
    text-align: center;
}

.navbar {
    background: var(--secondary-color);
    padding: 0.75rem 2.25rem;
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.logo {
    padding: .5rem;
    font-size: 1.2rem;
    font-weight: 600;
}


.navbar-links {
    display: none;
}


.line {
    width: 1.35rem;
    height: .15rem;
    margin: .3rem 0;
    background-color: white;
    transition: all 200ms ease;
}

.line-1 {
    transform: rotate(45deg) translate(5.3px);
}

.line-2 {
    transform: rotate(-45deg) translate(4.4px);
}

.menu-tray {
    overflow: hidden;
    background-color: orangered;
    height: 0vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.menu-tray li {
    font-weight: 500;
}


.show {
    animation: menu-tray-nav-links-show 1s ease forwards;
}

@keyframes menu-tray-nav-links-show {

    0% {
        display: none;
        opacity: 0;
    }

    100% {
        display: block;
        opacity: 1;
    }
}

.hide {
    animation: menu-tray-nav-links-hide 400ms ease forwards;
}

@keyframes menu-tray-nav-links-hide {

    0% {
        display: block;
        opacity: 1;
    }

    100% {
        display: none;
        opacity: 0;
    }
}

.open {
    animation: menu-tray-open 400ms ease forwards;
}

@keyframes menu-tray-open {
    0% {
        height: 0vh;
    }

    100% {
        height: 30vh;
    }
}

.close {
    animation: menu-tray-close 400ms ease forwards;
}

@keyframes menu-tray-close {
    0% {
        height: 30vh;
    }

    100% {
        height: 0vh;
    }
}



.hero {
    padding: 0.75rem 2.25rem;
}

.img-avatar {
    display: block;
    margin: 1rem auto;
    width: 70%;
    height: auto;
}


.hero p {
    font-size: 1.2rem;
    font-weight: 300;
    text-align: justify;
    margin: 2rem 0;
}

.my-name {
    font-weight: 600;
}

.emoji {
    font-size: 1.4rem;
}

.card {
    margin: 2rem 2.25rem;
    padding: 1.5rem 1rem;
    border: 0.156rem solid var(--accent-color);
    border-radius: 0.625rem;
    background: var(--secondary-color);
}

.filter {
    display: block;
    width: fit-content;
    border: 1.5px solid var(--accent-color);
    margin-top: 1rem;
    padding: .25rem .5rem;
    border-radius: 50px;
    font-size: .7rem;
}

.card h2 {
    font-size: 1.25rem;
    font-weight: 600;
    margin-bottom: 1rem;
}

.card p {
    font-size: .875rem;
}


.btn {
    display: inline-block;
    margin: 1rem .5rem 0rem 0rem;
    padding: .5rem .8rem;
    border-radius: 0.313rem;
    font-size: .875rem;
    font-weight: 600;
}

.btn-primary {
    border: none;
    background: var(--accent-color);
}

.btn-secondary {
    border: 0.088rem solid var(--accent-color);
}

footer {
    background-color: var(--secondary-color);
    padding: 1.5rem 2.25rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: 0;
    width: 100%;
}


footer i {
    font-size: 1.8rem;
    transition: all 200ms ease;
}

footer i:hover {
    transform: scale(1.4);
    color: var(--accent-color);
}


@media screen and (min-width : 635px) {

    .navbar {
        padding: 1.25rem 3.75rem;
    }

    .menu-icon {
        display: none;
    }

    .navbar-links {
        display: block;
    }

    .navbar-links li {
        font-size: 1.075rem;
        display: inline-block;
        margin-left: 2rem;
    }

    .navbar-links li :hover {
        color: #ccc;
    }

    .selected {
        font-weight: 700;
    }

    .hero {
        padding: 1.25rem 3.75rem;
    }

    .img-avatar {
        width: 50%;
    }

    .card {
        margin: 1.25rem 3.75rem;
    }


    footer {

        padding: 1.5rem 4.75rem;
    }
}


@media screen and (min-width:835px) {

    .navbar {
        padding: 1.25rem 8rem;
    }


    .hero {
        padding: 1.25rem 8rem;
    }


    .img-avatar {
        width: 40%;
    }

    .card {
        margin: 1.25rem 8rem;
    }


    footer {
        padding: 1.5rem 12rem;
    }
}

@media screen and (min-width:1152px) {

    .navbar {
        padding: 1.25rem 25rem;
    }


    .hero {
        padding: 1.25rem 25rem;
    }


    .img-avatar {
        width: 50%;
    }

    .card {
        margin: 1.25rem 25rem;
    }


    footer {
        padding: 1.5rem 36rem;
    }

}